* {
  margin: 0;
  padding: 0;
}

/* top */

h1 {
  text-transform: uppercase;
  color: rgb(231, 255, 0);
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    text-align: left;
    font-size: 1.3rem;
  }
}

p {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 2rem;
}

/* Cards */

.mid__container {
  display: grid;
  flex: none;
  gap: 15px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));

  justify-content: center;
  padding: 0;
}

/* Single Card */

.card__container {
  margin-bottom: 2rem;
  h2,
  h5 {
    color: rgb(231, 255, 0);
  }
  h4 {
    color: white;
  }
  img {
    border-radius: 4px;
    object-fit: cover;
    height: 250px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .card__title {
    text-align: left;

    p {
      margin-bottom: 0;
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

/* Skils */

.animation-container {
  overflow: hidden;
  width: 100%;
}

.skills__track {
  display: inline-flex;
  gap: 0.5rem;
  white-space: nowrap;
  animation: scrollTrack 60s linear infinite;
}

/* styling optional */
.skills__track p {
  font-size: 20px;
  border: 2px solid white;
  padding: 0 8px;
}

@keyframes scrollTrack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
